/* home.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4; /* o el color de fondo que prefieras */
  }
  
  .sidebar {
    background-color: #eee; /* o el color que prefieras */
    padding: 15px;
    margin-bottom: 20px; /* Espacio debajo de la barra lateral */
  }
  
  .sidebar-button {
    display: block;
    background-color: #333; /* o el color que prefieras */
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .main-content {
    padding: 20px;
    width: 100%; /* O el ancho que prefieras */
    max-width: 800px; /* O un ancho máximo que prefieras */
  }
  
  .workspace-info {
    background-color: white;
    padding: 20px;
    border-radius: 10px; /* Redondez de los bordes del contenedor de información */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column; /* Los elementos se apilan verticalmente */
    align-items: center; /* Alinea los elementos al centro */
    margin-bottom: 20px; /* Espacio debajo del contenedor de información */
  }
  
  .workspace-image {
    max-width: 100px; /* Ajusta este valor al tamaño deseado */
    height: auto; /* Esto mantendrá la proporción de la imagen */
  }
  
  
  .function-button {
    background-color: #007bff; /* o el color que prefieras */
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Hace que los botones ocupen todo el ancho disponible */
  }
  