/* home.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea al principio para que la barra lateral empiece desde arriba */
  justify-content: center;
  background-color: #f4f4f4;
}

.sidebar {
  display: flex; /* Hace que la sidebar sea un contenedor flex */
  flex-direction: column; /* Coloca los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  padding: 20px;
  width: 250px; /* Ajusta según el ancho deseado para la barra lateral */

}

.sidebar-button,
.function-button {
  background-color: #1284e1;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  width: 100%; /* Hace que los botones ocupen todo el ancho disponible de la barra lateral */
}

.workspace-image {
  width: 100px; /* Ajusta esto según el tamaño deseado para la imagen */
  height: auto;
  margin-right: 20px; /* Espacio entre la imagen y la barra lateral */
}

.main-container {
  display: flex;
  align-items: start; /* Alinea los elementos al inicio verticalmente */
}


/*

asrafs

*/



  

 


