
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    background: linear-gradient(to right, #0072ff, #00c6ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .options {
    text-align: center;
    background-color: #0072ff;
    margin-top: 20px;
    color: #0072ff;
    cursor: pointer;
  }

.login-container {
    background: white url('/static/images/NotePoquet.jpg') center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo con transparencia */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.login-form {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-form button {
    padding: 10px;
    background-color: #0072ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056cc;
  }