<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="sidebar">
            <div class="columna">
                <a href="{{ url_for('crear_workspace') }}" class="sidebar-link">
                    <button class="sidebar-button">Crear un nuevo espacio de trabajo</button>
                </a>
                <button class="sidebar-button">Eliminar espacios de trabajo antiguos</button>
                <button class="function-button">Proyecto NotePoquet</button>
                <a href="{{ url_for('login') }}" class="sidebar-link">
                    <button class="function-button">Cerrar sesión</button> 
                </a>
            </div>
        </div>
        <img src="{{ url_for('static', filename='images/NotePoquet1.png') }}" alt="Workspace curso Python" class="workspace-image">
    </div>
</body>
</html>
