<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="sidebar">
            <div class="columna">
                <a href="{{ url_for('workspace') }}" class="sidebar-link">
                    <button class="sidebar-button">Crear un nuevo espacio de trabajo</button>
                </a>
                <button class="sidebar-button">Eliminar espacios de trabajo antiguos</button>
                <button class="function-button">Función 1</button>
                <button class="function-button">Función 2</button>
                <button class="function-button">Función 3</button>
                <button class="function-button">Función 4</button>
                <button class="function-button">Función 5</button>
                <button class="function-button">Función 6</button>
                <button class="function-button">Cerrar sesión</button> 
            </div>
        </div>
        <img src="{{ url_for('static', filename='images/python-logo.png') }}" alt="Workspace curso Python" class="workspace-image">
    </div>
</body>
</html>
