<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nader Notas</title>
    <!--Fran diseño-->
    <style>
        .container {
            width: 50%; 
            margin: auto;
            text-align: center; 
        }
    </style>
     <!--diseño-->
</head>
<body>
    <div class="container">
        <h1>Bloc Notas</h1>
        <form method="POST">
            <textarea name="note" rows="5" cols="50"></textarea><br>
            <input type="submit" value="Guardar nota">
        </form>
        <hr>
        <h2>Notas guardadas:</h2>
        <ul>
            {% for note in notes %}
            <li>{{ note }}</li>
            {% endfor %}
        </ul>
    </div>

<!--AQU-->
</body>
</html>
