<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
<div class="login-container">
    <form class="login-form" action="{{ url_for('registrar') }}" method="post">
        <input type="text" placeholder="Nombre de usuario" name="username" required>
        <input type="email" placeholder="Correo electrónico" name="email" required>
        <input type="password" placeholder="Contraseña" name="password" required>
        <button type="submit">Crear cuenta</button>
    </form>
</div>
</body>
</html>
